:root {
	@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");

	--color-bg-theme: #14120b;
	--color-text: rgb(255, 255, 255);
	--font-size: 15px;
	--card-bg: #1b1913;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--color-text);
}

body {
	background-color: var(--color-bg-theme);
}

.nav-bg {
	background-color: var(--color-bg-theme);
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.container {
	margin-left: 10dvw;
	margin-right: 10dvw;
}

nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* margin padding */
.py-2 {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.mt-2 {
	margin-top: 1.3rem;
}
.mb-9 {
	margin-bottom: 3.5rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-1 {
	margin-bottom: 0.3rem;
}
.mb-7 {
	margin-bottom: 7rem;
}

.my-7rem {
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.mb-8 {
	margin-bottom: 8rem;
}

.py-4 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
/* Button Style */

.btn-fill {
	border: none;
	border-radius: 5rem;
	padding: 0.4rem 0.7rem 0.4rem 0.7rem;
	font-size: var(--font-size);
	color: var(--color-bg-theme);
}
.btn-fill-1 {
	border: none;
	border-radius: 5rem;
	padding: 0.7rem 1.5rem 0.7rem 1.5rem;
	font-size: var(--font-size);
}

.btn-fill-text-color {
	color: var(--color-bg-theme);
}

.btn-blank {
	border-width: thin;
	background-color: transparent;
	border-radius: 2rem;
	padding: 0.3rem 0.7rem 0.3rem 0.7rem;
	font-size: var(--font-size);
	margin-right: 0.5rem;
}
.btn-blank:hover {
	background-color: rgba(255, 255, 255, 0.027);
}

.btn-fill:hover {
	background-color: rgb(220, 220, 220);
}
.btn-fill-1:hover {
	background-color: rgb(220, 220, 220);
}

/* Flexbox */

.flex {
	display: flex;
}

.jc {
	justify-content: center;
}
.jb {
	justify-content: space-between;
}

.ic {
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.gap-2 {
	gap: 2rem;
}
.gap-3 {
	gap: 3rem;
}
.gap-1 {
	gap: 4px;
}
.gap-4 {
	gap: 1.1rem;
}

.text-center {
	text-align: center;
}

/* grid-box */
.grid {
	display: grid;
}

.grid-8 {
	grid-template-columns: repeat(8, 1fr);
	gap: 1rem;
}
.grid-4 {
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.grid-1-2-1 {
	grid-template-columns: 1fr 2fr 1fr;
}

/* Text Formatting */

.nav-link {
	font-size: var(--font-size);
}

.cursor-pointer {
	cursor: pointer;
}
.nav-link:hover {
	color: rgb(179, 179, 179);
}

h1 {
	font-weight: 500;
	font-size: 1.7rem;
}

/* Background Image */
.bg-img {
	background-image: url("/assets/asset-cc24ca462279ca23250c.webp");

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
}

/* features box */
.f-box {
	background-color: var(--card-bg);
	border: 0 solid;
	border-radius: 0.3rem;
	height: 7rem;
}

.svg {
	height: 2.5rem;
	width: auto;
}

.feature-card {
	background-color: var(--card-bg);
	padding: 1rem;
	border-radius: 0.3rem;
}

.grid-feature-1 {
	grid-template-columns: 1fr 1fr;
}

.grid-feature-2 {
	grid-template-columns: 1fr 1fr;
}

.grid-stories {
	grid-template-columns: repeat(3, 1fr);
}

.bg-card1-img {
	background-image: url("/assets/white-bird.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0.3rem;
	padding: 3rem;
}
.bg-card2-img {
	background-image: url("/assets/blue-grey-bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0.3rem;
	padding: 3rem;
}
.bg-card3-img {
	background-image: url("/assets/bg-sea-mount.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0.3rem;
	padding: 1rem;
}

.text-lg {
	font-size: 1.4rem;
}
.text-xl {
	font-size: 2.5rem;
}
.carrois-gothic-regular {
	font-family: "Carrois Gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.text-white-400 {
	color: rgba(177, 176, 176, 0.873);
}

.fw-500 {
	font-weight: 500;
}

.text-m {
	font-size: 1rem;
	text-decoration: none;
}
.color-orange {
	color: #f54e00;
}
.material-symbols-outlined {
	font-size: 20px;
}

/* Feature card */

.grid-feature-card {
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}
.feature-card {
	background-color: var(--card-bg);
	padding: 1rem;
	border-radius: 0.3rem;
}
.auth-logo {
	border-radius: 0.3rem;
}
.gap-5 {
	gap: 1.5rem;
}
.line-h-1 {
	line-height: 1.6rem;
}

.stories-photo {
	height: 23.25rem;
	width: 100%;
	object-fit: cover;
	border-radius: 0.3rem;
	margin-top: 1rem;
}

.border-thin {
	padding: 0.3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 0.0001rem solid #edecec9c;
	border-radius: 0.8rem;
}

.changelog-card {
	background-color: #201e18;
	padding: 1rem;
	border-radius: 0.3rem;
}

.changelog-card:hover {
	background-color: rgba(220, 220, 220, 0.096);
}

.text-oklb-color {
	color: #edecec9c;
}
.border-radius-1 {
	border-radius: 0.3rem;
}
.highlight-bg {
	background-color: var(--card-bg);
}
.text-xxl {
	font-size: 4.5rem;
}

.grid-5 {
	grid-template-columns: repeat(5, 1fr);
}
.text-1 {
	font-size: 0.9rem;
}

.bg-24261E {
	background-color: #26241e;
}
.p-1 {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 3rem;
}

.mt-10 {
	margin-top: 9rem;
}
