:root {
	--color-bg-theme: #14120b;
	--color-text: white;
	--font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-bg-theme);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

.container {
	margin-left: 16dvw;
	margin-right: 16dvw;
}

nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* margin padding */
.py-2 {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.mt-2 {
	margin-top: 1.3rem;
}
.mb-9 {
	margin-bottom: 3.5rem;
}

/* Button Style */

.btn-fill {
	border: none;
	border-radius: 5rem;
	padding: 0.4rem 0.7rem 0.4rem 0.7rem;
	font-size: var(--font-size);
}
.btn-fill-1 {
	border: none;
	border-radius: 5rem;
	padding: 0.7rem 1.5rem 0.7rem 1.5rem;
	font-size: var(--font-size);
}

.btn-blank {
	border-width: thin;
	background-color: transparent;
	border-radius: 2rem;
	padding: 0.3rem 0.7rem 0.3rem 0.7rem;
	font-size: var(--font-size);
	color: var(--color-text);
	margin-right: 0.5rem;
}
.btn-blank:hover {
	background-color: rgba(255, 255, 255, 0.027);
}

.btn-fill:hover {
	background-color: rgb(220, 220, 220);
}
.btn-fill-1:hover {
	background-color: rgb(220, 220, 220);
}

/* Flexbox */

.flex {
	display: flex;
}

.jc {
	justify-content: center;
}
.jb {
	justify-content: space-between;
}

.ic {
	align-items: center;
}

.gap-2 {
	gap: 2rem;
}
.gap-1 {
	gap: 4px;
}

/* Text Formatting */

.nav-link {
	font-size: var(--font-size);
	color: var(--color-text);
}

.cursor-pointer {
	cursor: pointer;
}
.nav-link:hover {
	color: rgb(179, 179, 179);
}

h1 {
	color: var(--color-text);
	font-weight: 500;
	font-size: 1.7rem;
}

/* Background Image */
.bg-img {
	background-image: url("/assets/asset-cc24ca462279ca23250c.webp");
	height: 680px;
	width: 1300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
}
